# OS
.DS_Store
Thumbs.db

# Build artifacts
build/
install/
log/
*.o
*.so

# ROS
*.bag
*.db3
.colcon/

# Docker
*.tar
.env

# PX4 / Ardupilot
firmware/px4/build/
firmware/px4/.vscode/
firmware/ardupilot/build/

# KiCad
*.kicad_prl
*.kicad_sch-bak
*.kicad_pcb-bak
fp-info-cache

# LTSpice
*.raw
*.log

# SolidWorks
*.SLDPRT~
*.SLDASM~
*.SLDDRW~
*.bak

# FEA
*.op2
*.f06
*.dat

# Python
__pycache__/
*.pyc
.venv/

# VSCode
.vscode/
